*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.gird-3-column{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}
.grid-4-column{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.spiks{
    position: relative;
}
.spiks::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(225deg, white 50%, transparent 50%);
    background-size: 30px 30px
}